<!DOCTYPE html>
<head>
    
</head>
<body>
    <div class = "new_user">
        <div style = "height: 100px; font-size: 30px; font-weight: 800;">
            ユーザー名のみで登録します。
        </div>
        <%= form_tag("/posts/new_user") do %>
            <div style = "height: 100px">
                <input class = "new_user_name" name = "name" placeholder = "10文字以内のユーザー名">
            </div>
            <div style = "height: 100px">
                <input class = "new_user_register" type = "submit" value = "この名前で新規登録"> 
            <div>
        <% end %>
    </div>
</body>
